<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form method="post" action="/user/login">
            <span>
                <label for="email">Enter Your Email</label>
                <input type="text" name="email" class="one">
            </span>

    
            <span>
                <label for="password">Enter Password</label>
            <input type="text" name="password" class="two">
            </span>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>